footer {
    background-color: #120f0f;
    color: #fbf9f9;
    text-align: center;
    padding: 5px 0;
    width: 100%;
    position: relative;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    background-color: #c1ecdc;
    width: 100%;
    border-top: 1px solid #b02a2a;

}

.footer-logo {
    display: flex;
}

.footer-logo img {
    max-width: 7rem;
    height: auto;
    border-radius: 10px;
    margin-left: 20px;
}

.footer-section {
    flex: 3;
    margin: 40px;
    text-align: center;
}

.footer-section div {
    display: inline;
    margin: 0 10px;
}

.footer-section div a {
    text-decoration: none;
    display: inline-flex;

}


@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        margin: 10px 0;
        text-align: center;
    }

    .search_main {
        display: none;
    }
}